<h2 mat-dialog-title>Add Book</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="bookAddForm" class="addForm">

    <div class="form-control"> 
      <mat-form-field appearance="legacy" class="field">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
        <mat-error>Please add title</mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field appearance="legacy" class="field">
        <mat-label>Author</mat-label>
        <input matInput formControlName="author">
        <mat-error>Please add author</mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field appearance="legacy">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="publishedDate" [max]="maxDate" placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Please add date</mat-error>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="bookAddForm.invalid" (click)="add()">ADD</button>
</mat-dialog-actions>
